name: test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest #Где запускаем
    steps: #Что делаем
      - uses: actions/checkout@v3 #Выкачиваем репозиторий
      - uses: actions/setup-java@v3 #настраиваем JAVA
        with:
          distribution: 'zulu'
          java-version: '17'
      - run: ./gradle clean test #Запуск тестов